In [1]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

#add 200 and 300
L.append(200)
L.append(300)
print(L)

#remove 10 and 30
L.remove(10)
L.remove(30)
print(L)

#sort in ascending order
L.sort()
print(L)

#sort in descending order
L.reverse()
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

#highest score and its index
highest_score = max(scores)
highest_score_index = scores.index(highest_score)
print(f"The highest score is {highest_score} at index {highest_score_index}.")

#lowest score and count how many times it appears
lowest_score = min(scores)
lowest_score_count = scores.count(lowest_score)
print(f"The lowest score is {lowest_score} and it appears {lowest_score_count} times.")

# Reverse the tuple and returning as a list
reversed_list = list(reversed(scores))
print(f"The reversed tuple as a list: {reversed_list}")

# iv. Check if a specific score (e.g., 76) is present and print its first occurrence index
user_input = 76
if user_input in scores:
    first_occurrence_index = scores.index(user_input)
    print(f"The score {user_input} is present at index {first_occurrence_index}.")
else:
    print(f"The score {user_input} is not present in the tuple.")

The highest score is 92 at index 5.
The lowest score is 45 and it appears 2 times.
The reversed tuple as a list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
The score 76 is present at index 2.

In [3]:
import random as r
mylist = []
Odd = []
Even = []
Prime = []

def isprime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

for _ in range(100):
    mylist.append(r.randint(100, 900))

for i in mylist:
    if i % 2 == 0:
        Even.append(i)
    else:
        Odd.append(i)

    if isprime(i):
        Prime.append(i)

odd_count = len(Odd)
even_count = len(Even)
prime_count = len(Prime)

print(f"Odd numbers ({odd_count}): {Odd}")
print(f"Even numbers ({even_count}): {Even}")
print(f"Prime numbers ({prime_count}): {Prime}")

Odd numbers (46): [325, 567, 643, 253, 307, 545, 459, 333, 355, 803, 209, 379, 793, 777, 361, 311, 291, 761, 605, 277, 875, 137, 789, 361, 797, 677, 623, 637, 203, 141, 157, 431, 779, 713, 527, 721, 585, 629, 827, 557, 145, 693, 577, 441, 769, 667]
Even numbers (54): [786, 342, 408, 360, 294, 722, 374, 702, 552, 286, 106, 180, 770, 758, 292, 524, 290, 766, 760, 304, 466, 582, 364, 164, 420, 520, 122, 764, 746, 374, 630, 396, 516, 454, 356, 364, 694, 816, 284, 314, 614, 452, 796, 764, 472, 392, 598, 334, 384, 344, 218, 684, 864, 620]
Prime numbers (15): [643, 307, 379, 311, 761, 277, 137, 797, 677, 157, 431, 827, 557, 577, 769]

In [6]:
4. Consider the following two sets, A and B, representing scores of two teams in multiple
matches.  A = {34, 56, 78, 90}  and B = {78, 45, 90, 23}
WAP to perform the following opera ons using set func ons:
i. Find the unique scores achieved by both teams (union of sets).
ii. Identify the scores that are common to both teams (intersec on of sets).
iii.Find the scores that are exclusive to each team (symmetric difference).
iv.Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v.Remove a specific score ð‘‹ (input by the user) from set A if it exists. If not, print
a message saying it is not present.

SyntaxError: unterminated string literal (detected at line 7) (<ipython-input-6-989427222f18>, line 7)

In [7]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

print(f"union of sets is {A | B}")

print(f"Intersection of sets is {A & B}")

print(f"mmetric Difference is {A ^ B}")
subset = A.issubset(B)
superset = A.issuperset(A)

if (subset):
  print('A is subset of B')
else:
  print('A is not subset of B')

if (superset):
  print('B is superset of A')
else:
  print('B is not superset of A')

Num = int(input('Enter a score to remove : '))
if Num in A:
  A.remove(Num)
  print(f'{Num} has been removed from set A')
else:
  print(f'{Num} is not present in set A')

union of sets is {34, 45, 78, 23, 56, 90}
Intersection of sets is {90, 78}
mmetric Difference is {34, 45, 23, 56}
A is not subset of B
B is superset of A
Enter a score to remove : 45
45 is not present in set A

In [8]:
dict = {
    "name" : "Kelly",
    "age" : 21,
    "salary" : 10230,
    "city" : "New York"
}

dict['location'] = dict.pop('city')

print("updated dictionary is :", dict)

updated dictionary is : {'name': 'Kelly', 'age': 21, 'salary': 10230, 'location': 'New York'}